.vscode
*.pyc
*.log
__pycache__/
correct-examples-a-2/Balcony_Curtain001-Abnormal.json5
correct-examples-a-2/Balcony_Curtain001-Normal.json5
correct-examples-a-2/Balcony_Light001-Abnormal.json5
correct-examples-a-2/Balcony_Light001-Normal.json5
correct-examples-a-2/Balcony_WashingMachine001-Abnormal.json5
correct-examples-a-2/Balcony_WashingMachine001-Normal.json5
correct-examples-a-2/Bathroom_BathHeater001-Abnormal.json5
correct-examples-a-2/Bathroom_BathHeater001-Normal.json5
correct-examples-a-2/Bathroom_Light001-Abnormal.json5
correct-examples-a-2/Bathroom_Light001-Normal.json5
correct-examples-a-2/BedroomOne_AC001-Abnormal.json5
correct-examples-a-2/BedroomOne_AC001-Normal.json5
correct-examples-a-2/BedroomOne_AirPurifier001-Abnormal.json5
correct-examples-a-2/BedroomOne_AirPurifier001-Normal.json5
correct-examples-a-2/BedroomOne_Curtain001-Abnormal.json5
correct-examples-a-2/BedroomOne_Curtain001-Normal.json5
correct-examples-a-2/BedroomOne_Heater001-Abnormal.json5
correct-examples-a-2/BedroomOne_Heater001-Normal.json5
correct-examples-a-2/BedroomOne_Humidifier001-Abnormal.json5
correct-examples-a-2/BedroomOne_Humidifier001-Normal.json5
correct-examples-a-2/BedroomOne_Light001-Abnormal.json5
correct-examples-a-2/BedroomOne_Light001-Normal.json5
correct-examples-a-2/BedroomTwo_AC001-Abnormal.json5
correct-examples-a-2/BedroomTwo_AC001-Normal.json5
correct-examples-a-2/BedroomTwo_AirPurifier001-Abnormal.json5
correct-examples-a-2/BedroomTwo_AirPurifier001-Normal.json5
correct-examples-a-2/BedroomTwo_Curtain001-Abnormal.json5
correct-examples-a-2/BedroomTwo_Curtain001-Normal.json5
correct-examples-a-2/BedroomTwo_Heater001-Abnormal.json5
correct-examples-a-2/BedroomTwo_Heater001-Normal.json5
correct-examples-a-2/BedroomTwo_Humidifier001-Abnormal.json5
correct-examples-a-2/BedroomTwo_Humidifier001-Normal.json5
correct-examples-a-2/BedroomTwo_Light001-Abnormal.json5
correct-examples-a-2/BedroomTwo_Light001-Normal.json5
correct-examples-a-2/BedroomTwo_TV001-Abnormal.json5
correct-examples-a-2/BedroomTwo_TV001-Normal.json5
correct-examples-a-2/Cloakroom_Light001-Abnormal.json5
correct-examples-a-2/Cloakroom_Light001-Normal.json5
correct-examples-a-2/Kitchen_CookerHood001-Abnormal.json5
correct-examples-a-2/Kitchen_CookerHood001-Normal.json5
correct-examples-a-2/Kitchen_Curtain001-Abnormal.json5
correct-examples-a-2/Kitchen_Curtain001-Normal.json5
correct-examples-a-2/Kitchen_GasStove001-Abnormal.json5
correct-examples-a-2/Kitchen_GasStove001-Normal.json5
correct-examples-a-2/Kitchen_Light001-Abnormal.json5
correct-examples-a-2/Kitchen_Light001-Normal.json5
correct-examples-a-2/LivingRoom_AC001-Abnormal.json5
correct-examples-a-2/LivingRoom_AC001-Normal.json5
correct-examples-a-2/LivingRoom_AirPurifier001-Abnormal.json5
correct-examples-a-2/LivingRoom_AirPurifier001-Normal.json5
correct-examples-a-2/LivingRoom_Curtain001-Abnormal.json5
correct-examples-a-2/LivingRoom_Curtain001-Normal.json5
correct-examples-a-2/LivingRoom_Heater001-Abnormal.json5
correct-examples-a-2/LivingRoom_Heater001-Normal.json5
correct-examples-a-2/LivingRoom_Humidifier001-Abnormal.json5
correct-examples-a-2/LivingRoom_Humidifier001-Normal.json5
correct-examples-a-2/LivingRoom_Light001-Abnormal.json5
correct-examples-a-2/LivingRoom_Light001-Normal.json5
correct-examples-a-2/LivingRoom_Light002-Abnormal.json5
correct-examples-a-2/LivingRoom_Light002-Normal.json5
correct-examples-a-2/LivingRoom_TV001-Abnormal.json5
correct-examples-a-2/LivingRoom_TV001-Normal.json5
data/01_device_sorted_combined_log_test_2.xlsx
data/01_device_sorted_combined_log_train1_2.xlsx
data/01_device_sorted_combined_log_train2_2.xlsx
data/02_device_state_history_test_2.xlsx
data/02_device_state_history_train1_2.xlsx
data/02_device_state_history_train2_2.xlsx
data/03_time_series_windows_test_2.xlsx
data/03_time_series_windows_train1_2.xlsx
data/03_time_series_windows_train2_2.xlsx
data-dc/01_device_sorted_combined_log_2.xlsx
data-dc/02_device_state_history_2.xlsx
data-dc/03_time_series_windows_2.xlsx
data-dc/04_fault_detection_dataset_2.csv
data-dc/evaluation_results_lstm.csv
data-dc/evaluation_results_pgm.csv
data-dc/lstm_model_1_0.pth
data-dc/lstm_model_2_0.pth
data-dc/lstm_model_3_0.pth
data-dc/lstm_model_4_0.pth
data-dc/lstm_model_5_0.pth
data-dc/lstm_test_labels.npy
data-dc/lstm_test_on_off.npy
data-dc/lstm_test_x.npy
data-dc/lstm_test_y_actual.npy
data-dc/lstm_test_y_pgm.npy
data-dc/lstm_train_x.npy
data-dc/lstm_train_y_diff.npy
wrong-examples-a-2/LivingRoom_TV001-Normal.json5
wrong-examples-a-2/Balcony_Curtain001-Abnormal.json5
wrong-examples-a-2/Balcony_Curtain001-Normal.json5
wrong-examples-a-2/Balcony_Light001-Abnormal.json5
wrong-examples-a-2/Balcony_Light001-Normal.json5
wrong-examples-a-2/Balcony_WashingMachine001-Abnormal.json5
wrong-examples-a-2/Balcony_WashingMachine001-Normal.json5
wrong-examples-a-2/Bathroom_BathHeater001-Abnormal.json5
wrong-examples-a-2/Bathroom_BathHeater001-Normal.json5
wrong-examples-a-2/Bathroom_Light001-Abnormal.json5
wrong-examples-a-2/Bathroom_Light001-Normal.json5
wrong-examples-a-2/BedroomOne_AC001-Abnormal.json5
wrong-examples-a-2/BedroomOne_AC001-Normal.json5
wrong-examples-a-2/BedroomOne_AirPurifier001-Abnormal.json5
wrong-examples-a-2/BedroomOne_AirPurifier001-Normal.json5
wrong-examples-a-2/BedroomOne_Curtain001-Abnormal.json5
wrong-examples-a-2/BedroomOne_Curtain001-Normal.json5
wrong-examples-a-2/BedroomOne_Heater001-Abnormal.json5
wrong-examples-a-2/BedroomOne_Heater001-Normal.json5
wrong-examples-a-2/BedroomOne_Humidifier001-Abnormal.json5
wrong-examples-a-2/BedroomOne_Humidifier001-Normal.json5
wrong-examples-a-2/BedroomOne_Light001-Abnormal.json5
wrong-examples-a-2/BedroomOne_Light001-Normal.json5
wrong-examples-a-2/BedroomTwo_AC001-Abnormal.json5
wrong-examples-a-2/BedroomTwo_AC001-Normal.json5
wrong-examples-a-2/BedroomTwo_AirPurifier001-Abnormal.json5
wrong-examples-a-2/BedroomTwo_AirPurifier001-Normal.json5
wrong-examples-a-2/BedroomTwo_Curtain001-Abnormal.json5
wrong-examples-a-2/BedroomTwo_Curtain001-Normal.json5
wrong-examples-a-2/BedroomTwo_Heater001-Abnormal.json5
wrong-examples-a-2/BedroomTwo_Heater001-Normal.json5
wrong-examples-a-2/BedroomTwo_Humidifier001-Abnormal.json5
wrong-examples-a-2/BedroomTwo_Humidifier001-Normal.json5
wrong-examples-a-2/BedroomTwo_Light001-Abnormal.json5
wrong-examples-a-2/BedroomTwo_Light001-Normal.json5
wrong-examples-a-2/BedroomTwo_TV001-Abnormal.json5
wrong-examples-a-2/BedroomTwo_TV001-Normal.json5
wrong-examples-a-2/Cloakroom_Light001-Abnormal.json5
wrong-examples-a-2/Cloakroom_Light001-Normal.json5
wrong-examples-a-2/Kitchen_CookerHood001-Abnormal.json5
wrong-examples-a-2/Kitchen_CookerHood001-Normal.json5
wrong-examples-a-2/Kitchen_Curtain001-Abnormal.json5
wrong-examples-a-2/Kitchen_Curtain001-Normal.json5
wrong-examples-a-2/Kitchen_GasStove001-Abnormal.json5
wrong-examples-a-2/Kitchen_GasStove001-Normal.json5
wrong-examples-a-2/Kitchen_Light001-Abnormal.json5
wrong-examples-a-2/Kitchen_Light001-Normal.json5
wrong-examples-a-2/LivingRoom_AC001-Abnormal.json5
wrong-examples-a-2/LivingRoom_AC001-Normal.json5
wrong-examples-a-2/LivingRoom_AirPurifier001-Abnormal.json5
wrong-examples-a-2/LivingRoom_AirPurifier001-Normal.json5
wrong-examples-a-2/LivingRoom_Curtain001-Abnormal.json5
wrong-examples-a-2/LivingRoom_Curtain001-Normal.json5
wrong-examples-a-2/LivingRoom_Heater001-Abnormal.json5
wrong-examples-a-2/LivingRoom_Heater001-Normal.json5
wrong-examples-a-2/LivingRoom_Humidifier001-Abnormal.json5
wrong-examples-a-2/LivingRoom_Humidifier001-Normal.json5
wrong-examples-a-2/LivingRoom_Light001-Abnormal.json5
wrong-examples-a-2/LivingRoom_Light001-Normal.json5
wrong-examples-a-2/LivingRoom_Light002-Abnormal.json5
wrong-examples-a-2/LivingRoom_Light002-Normal.json5
wrong-examples-a-2/LivingRoom_TV001-Abnormal.json5
figures-a-2/Balcony_Curtain001.png
figures-a-2/Balcony_Light001.png
figures-a-2/Balcony_WashingMachine001.png
figures-a-2/Bathroom_BathHeater001.png
figures-a-2/Bathroom_Light001.png
figures-a-2/BedroomOne_AC001.png
figures-a-2/BedroomOne_AirPurifier001.png
figures-a-2/BedroomOne_Curtain001.png
figures-a-2/BedroomOne_Heater001.png
figures-a-2/BedroomOne_Humidifier001.png
figures-a-2/BedroomOne_Light001.png
figures-a-2/BedroomTwo_AC001.png
figures-a-2/BedroomTwo_AirPurifier001.png
figures-a-2/BedroomTwo_Curtain001.png
figures-a-2/BedroomTwo_Heater001.png
figures-a-2/BedroomTwo_Humidifier001.png
figures-a-2/BedroomTwo_Light001.png
figures-a-2/BedroomTwo_TV001.png
figures-a-2/Cloakroom_Light001.png
figures-a-2/Kitchen_CookerHood001.png
figures-a-2/Kitchen_Curtain001.png
figures-a-2/Kitchen_GasStove001.png
figures-a-2/Kitchen_Light001.png
figures-a-2/LivingRoom_AC001.png
figures-a-2/LivingRoom_AirPurifier001.png
figures-a-2/LivingRoom_Curtain001.png
figures-a-2/LivingRoom_Heater001.png
figures-a-2/LivingRoom_Humidifier001.png
figures-a-2/LivingRoom_Light001.png
figures-a-2/LivingRoom_Light002.png
figures-a-2/LivingRoom_TV001.png
*.pth